* {
    margin: 0;
    padding: 0;
}
body {
    background: url('../images/bg.jpg') fixed 0 0;
    
    font-family : 'Segoe UI';
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    }

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0px; 
    padding: 0px;

}

i {
    color: white;
}

.main {
    margin: 0px;
    padding: 0px;
   
}

.margin {
    width: 960px;
    height: 500px;
     margin : 10px auto;

}

.header {
    margin: 0px; padding: 0px;
    height: 150px;
    background-color: #2a7ceb;
    
}

    .header img {
        height: 119px;
        width: 100px;
        margin: 10px;
        border: 0px; 
        float: left;
    }

    .header h1,p {
       
        margin-left: 110px;
        
        }
    .header h1 {
        font-size: 50px;
        color: white;
    }

    .header p {
        font-size: 20px;
        color: white;
        margin: 2px;
    }


#navigation ul#nav {
	z-index: 5000;
	background-color: black ;
    height: 39px;
    
    
}

#navigation ul#nav li {
    list-style:none;
	position: relative;
	float: left;
	text-align: center;
	line-height: 1em;
    width:137px;
    border-bottom: 1px solid white;
}

#navigation ul#nav li a {
	display: block;
	padding: 12px 0px;
	color: white;
	text-decoration: none;
	border-right: 1px solid white;
	text-align: center;
    background-color: black;
}



#navigation ul#nav  li ul {
    display: block;
    position: absolute;

    left: -999em;
    width: 137px;
    background-color: black;
}

#navigation ul#nav  li:hover ul,
#navigation ul#nav  li.over ul 
{
    display: block;
    left: 0;
    top: 100%;
    position: absolute;
    z-index: 4000;
    width: 137px;
    color: white;
}

#navigation ul#nav  li ul li {
    width: 137px;
    height: auto;
    background: transparent;
    text-indent: 0;
    padding: 0;
    border-bottom:1px solid white;
}

#navigation ul#nav  li:hover ul li a,
#navigation ul#nav  li.over ul li a {
    display: block;
    width: 137px;
    background: transparent;
    border: none;
    text-decoration: none;
    margin: 0;
    color: white;
    text-indent: 0;
    text-align: center;
    
    white-space: nowrap;
}

#navigation ul#nav li ul li a:hover {
    color: white;
    background: #3a8bfa;
}

#navigation ul#nav li.active a,
#navigation ul#nav li a:hover,
#navigation ul#nav li:hover a,
#navigation ul#nav li.over a {
    background:#3a8bfa;
}

.footer{
    height: 170px;
    background-color: #2a7ceb;
   float: left;
   width: 960px;
   margin-top: 10px;
}

.row1 {
    float: left;
    margin-right: 10px;
    /*background-color: rgba(195, 177, 177, 0.82);*/
    width: 200px;
    height: 170px;
    border-right: 1px solid white;
}

    .row1 h4 {
        margin: 12px 45px;
        font-weight: bold;
        font-size: 22px;
        color: white;
    }

    .row1 li {
        margin: 2px 45px;
        list-style: none;
    }

        .row1 li a { text-decoration: none;
            color: #c7cad1;
        }
            .row1 li a:hover {
                color: white;
                 text-decoration: underline;
            }


.row2 {
    float: left;
    margin-right: 10px;
   border-right: 1px solid white;
    width: 313.33px;
    height: 170px;
}
    .row2 h4 {
         margin: 12px 75px;
        font-weight: bold;
        font-size: 22px;
        color: white;
    }

    .row2 ul {
        display: inline;
        margin: 2px 20px;
        width: 150px;
    }


.div1 {
    float: left;
    margin-right: 10px;
  
    width: 146px;
    
}

    .div1 li {
        list-style: none;
        margin: 2px 10px;

    }
      .div1 li a {
            text-decoration: none;
            color: #c7cad1;
        }
            .div1 li a:hover {
                color: white;
                 text-decoration: underline;
            }
.copy {
    height: 25px;
    width: 960px;
   
    margin: 0px;
    padding: 0px;
    float: left;

}


    .copy p {
        color: black;
        margin: -1px 15px; 
        padding: 0px;
        
    }

    .copy a {
        text-decoration: none;
        color: black;
    }

    .copy a:hover {
        text-decoration: underline;
    }
   





